<nav class="navbar navbar-expand-md fixed-top navbar-light" style="padding: 0.01rem 0.01rem;">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand" href="index.html">
      <img src="img/COSMODERN Logo.png" alt="Logo" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">หน้าแรก</a></li>
        <li class="nav-item"><a class="nav-link" href="index.html#about">เกี่ยวกับ</a></li>
        <li class="nav-item"><a class="nav-link" href="innovation.html">นวัตกรรม</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            ผลิตภัณฑ์ของเรา
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="skincare.html">Skincare</a></li>
            <li><a class="dropdown-item" href="makeup.html">Color Cosmetics (Makeup)</a></li>

            <li><a class="dropdown-item" href="spa.html">Spa</a></li>
            <li><a class="dropdown-item" href="petcare.html">Pet Care (CAT/DOG/RABBIT)</a></li>
            <li><a class="dropdown-item" href="alcohol.html">Alcohol 75 %w/w</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="process.html">ขั้นตอนการผลิต</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">ติดต่อเรา</a></li>
      </ul>
    </div>
  </div>
</nav>